

$main_color: #007D35;
$primary_color: #1FB25E;
$white:#ffffff ;
$black: #000000;




@mixin centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin  spaceBetweenBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin  spaceAroundBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
